/**
 * Package groups elements together
 */

.package {
  display: grid;
  grid-row-gap: calc(var(--spacing) / 2);
  align-content: start;
}

.package > * {
  margin: 0;
}

/**
 * Column layout (used with grid)
 */

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: var(--spacing);
  --header-font: var(--sans);
}

/** 
 * Flag
 */

.flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: calc(var(--spacing) / 2) var(--spacing);
  background: linear-gradient(rgba(255,255,255,0.6), transparent);
  mix-blend-mode: hard-light;
  z-index: 2;
}

.flag > * {
  margin: 0;
}

.logo {
  --header-font: var(--logo-font);
  --text-color: black;
  font-size: calc(100vw / 10);
  text-align: center;
}

/**
 * Custom panel settings
 */

.intro-video {
  --landscape-height: 50vw;
  --portrait-height: 100vw;
}

.mission-statement {
  text-align: center;
}

/**
 * Bios
 */

.bio {
  display: grid;
  grid-gap: var(--spacing);
  margin: var(--spacing) 0;
}

@media(min-width: 600px) {
  .bio {
    grid-template-columns: 250px 1fr;
  }
}

.bio figure {
  position: relative;
  padding-top: 100%;
}

.bio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 40%;
}
