html {
  /* Typography */
  font-size: 20px;
  --header-font: "Raleway", sans-serif;
  --sans: "Open Sans", sans-serif;
  --logo-font: "Ibarra Real Nova", serif;

  /* Spacing */
  --spacing: 30px;
  --content-width: 920px;
  --panel-height: 40.25vw;

  /* Colors */
  --background-color: #ddd;
  --text-color: #222;
  --accent-rgb: 51, 51, 51;
  --accent-color: rgb(var(--accent-rgb));
  --accent-text: white;
  --link-color: rebeccapurple;
}

body {
  margin: 0;
  font-family: var(--sans);
  color: var(--text-color);
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  font-weight: 400;
  line-height: 1.2em;
  color: var(--text-color);
}

h1, .h1 {
  font-size: var(--header-size, 1.8em);
}

h2, .h2 {
  font-size: var(--header-size, 1.4em);
}

h3, .h3 {
  font-size: var(--header-size, 1.2em);
}

h4, .h4 {
  font-size: var(--header-size, 1em);
  font-weight: 600;
}

h5, h6 {
  font-family: var(--sans);
  font-weight: 600;
  text-transform: uppercase;
}

p, li {
  font: 400 1rem/1.4em var(--font, var(--sans));
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: var(--link-decoration, none);
}

a:hover {
  text-decoration: var(--link-decoration, underline);
}

ul, ol {
  padding-left: 1em;
}

blockquote {
  margin-right: 0;
  margin-left: 0;
}

blockquote q {
  display: block;
  font: 1.5em/1.4em var(--header-font);
  text-align: center;
}

q {
  color: var(--text-color);
  quotes: "\201C" "\201D";
}

.small {
  font-size: 0.875rem;
  font-family: var(--sans);
}

/* Color */

.cutout {
  background-color: var(--background-color);
}

.accent {
  background-color: var(--accent-color);
  --text-color: var(--accent-text);
  --link-color: var(--accent-text);
  --link-decoration: underline;
}

.accent.screen {
  background-color: rgba(var(--accent-rgb), 0.7)
}

.white {
  --text-color: white;
  --link-color: white;
  --link-decoration: underline;
}

/* Media */

figure {
  position: relative;
  display: block;
  margin: 0;
}

img {
  max-width: 100%;
}

figcaption, .figcaption {
  font: 0.75rem/1.2em var(--sans);
}

/* General Layout */

.grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, var(--content-width)) 1fr;
  grid-column-gap: var(--spacing);
}

.grid > * {
  margin: 0;
  grid-column: var(--column, 2); 
}

.bleed {
  grid-column: 1/-1;
}

.pad {
  padding: var(--spacing);
}

/* Stackable panels with some breathing room */

.panel {
  padding: calc(var(--spacing) * 2) 0;
  position: relative;
}

.panel > :first-child {
  margin-top: 0;
}

.panel > :last-child {
  margin-bottom: 0;
}
