/**
 * Package groups elements together
 */

.package {
  display: grid;
  grid-row-gap: calc(var(--spacing) / 2);
  padding: var(--spacing);
}

.package > * {
  margin: 0;
}

/**
 * Column layout (used with grid)
 */

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--spacing);
  --header-font: var(--sans);
}

/** 
 * Flag
 */

.flag {
  grid-column: 1/-1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  box-sizing: border-box;
  padding: calc(var(--spacing) / 2) var(--spacing);
  display: flex;
  align-items: center;
  --header-font: var(--dance);
  color: white;
  mix-blend-mode: exclusion;
  z-index: 2;
}

.flag > * {
  margin: 0;
}
