/**
 * Package groups elements together
 */

.package {
  display: grid;
  grid-row-gap: calc(var(--spacing) / 2);
  align-content: start;
}

.package > * {
  margin: 0;
}

/**
 * Column layout (used with grid)
 */

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--spacing);
  --header-font: var(--sans);
}

/** 
 * Flag
 */

.flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: calc(var(--spacing) / 2) var(--spacing);
  display: flex;
  align-items: center;
  --text-color: rebeccapurple;
  mix-blend-mode: color-burn;
  z-index: 2;
}

.flag > * {
  margin: 0;
}

.logo {
  --header-font: var(--subway);
  font-size: calc(100vw / 15);
  font-weight: normal;
}

@media(min-width: 700px) {
  .logo {
    font-size: 48px;
  }
}



/**
 * Custom panel settings
 */

.intro-video {
  --landscape-height: 50vw;
  --portrait-height: 100vw;
}

.mission-statement {
  text-align: center;
}
