{{ define "main" }}
<parallax-panel class="intro-video">
  <video slot="background" autoplay muted loop playsinline>
    <source src="/videos/union-station.mp4" type="video/mp4">
  </video>
</parallax-panel>

<section class="panel">
  <h1>What we're doing</h1>
  <p>Ballet Street Project is a platform for the creation and development of dance-centered artistic collaborations across all mediums. We seek to unite cultures and communities by recognizing that art lives within everyone of us, and by fostering the development of creative expression through dance. We want to touch hearts through the beauty and inspiration of the performing arts.</p>
  <p>We are currently working on the production of 5 short videos featuring professional ballet dancers in locations all around Kansas City: Union Station, Nelson Atkins Museum, 18th and Vine, the 1900 building and bridges around the West Bottoms and River Market. The dancers are wearing their own clothes and improvising in the moment. We have chosen popular music for mass appeal.</p>
</section>

<youtube-player class="bleed" data-id="DCVFxukMO4E"></youtube-player>
<section class="panel">
  <h1>Union Station video placeholder</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Suspendisse turpis risus</b>, <a href="#">sagittis at sapien</a> ut, bibendum auctor mi. Nulla tincidunt interdum sapien vitae pretium. Vestibulum sit amet massa congue, bibendum turpis ullamcorper, varius risus. Curabitur ultricies tincidunt metus, eget aliquet elit tempus ac. Vestibulum eget sodales magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum vehicula mauris, gravida vulputate quam viverra a. Maecenas risus eros, porttitor eu consectetur ac, eleifend et risus. Sed vel posuere risus. Vivamus auctor felis sit amet blandit condimentum. Aliquam pellentesque scelerisque hendrerit.</p>
  <p>Mauris posuere mauris lorem, sed pharetra sem venenatis eu. Pellentesque feugiat viverra est, non vulputate dolor tempor eget. Morbi vitae turpis elit. Morbi luctus nisi sed libero laoreet, eu tempus sapien pellentesque. Duis mollis ornare dapibus. Nam ullamcorper feugiat nibh at sagittis. Fusce efficitur euismod nulla eu interdum. Duis congue tincidunt ligula dictum imperdiet. Morbi lacinia ultricies lacus et laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis, tortor eu egestas consequat, ligula nibh hendrerit lectus, eget eleifend leo nulla id dolor. Suspendisse in ex eu augue tempus vulputate. Donec ex dui, tempus vitae maximus mattis, consequat quis sem. Nulla pellentesque fermentum libero sed faucibus. In nec commodo lectus, at gravida augue.</p>
</section>

<vimeo-player class="bleed" data-id="475176561"></vimeo-player>
<section class="panel">
  <h1>Nelson video placeholder</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse turpis risus, sagittis at sapien ut, bibendum auctor mi. Nulla tincidunt interdum sapien vitae pretium. Vestibulum sit amet massa congue, bibendum turpis ullamcorper, varius risus. Curabitur ultricies tincidunt metus, eget aliquet elit tempus ac. Vestibulum eget sodales magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum vehicula mauris, gravida vulputate quam viverra a. Maecenas risus eros, porttitor eu consectetur ac, eleifend et risus. Sed vel posuere risus. Vivamus auctor felis sit amet blandit condimentum. Aliquam pellentesque scelerisque hendrerit.</p>
  <p>Mauris posuere mauris lorem, sed pharetra sem venenatis eu. Pellentesque feugiat viverra est, non vulputate dolor tempor eget. Morbi vitae turpis elit. Morbi luctus nisi sed libero laoreet, eu tempus sapien pellentesque. Duis mollis ornare dapibus. Nam ullamcorper feugiat nibh at sagittis. Fusce efficitur euismod nulla eu interdum. Duis congue tincidunt ligula dictum imperdiet. Morbi lacinia ultricies lacus et laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis, tortor eu egestas consequat, ligula nibh hendrerit lectus, eget eleifend leo nulla id dolor. Suspendisse in ex eu augue tempus vulputate. Donec ex dui, tempus vitae maximus mattis, consequat quis sem. Nulla pellentesque fermentum libero sed faucibus. In nec commodo lectus, at gravida augue.</p>
</section>

<parallax-panel>
  <img slot="background" src="/images/streetcar.jpg" style="object-position: 70% 20%;" loading="lazy">
  <div class="package pad accent screen">
    <p>Donec quis venenatis libero. Maecenas porttitor sagittis nulla, et hendrerit libero eleifend feugiat. Proin diam arcu, sagittis ac tortor id, pulvinar pretium turpis. Nullam et eros id est ornare elementum ac bibendum enim. Nam lacus arcu, iaculis id lectus et, scelerisque vehicula mauris. Vivamus euismod lorem sagittis ultrices ipsum. Curabitur vestibulum lobortis metus eu sollicitudin.</p>
    <p class="small">For a copy of this photo, please <a href="#">contact the photographer</a></p>
  </div>
</parallax-panel>

<div class="bleed panel">
  <div class="grid">
    <section>
      <h1 style="margin-top: 0;">Who we are</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse turpis risus, sagittis at sapien ut, bibendum auctor mi. Nulla tincidunt interdum sapien vitae pretium. Vestibulum sit amet massa congue, bibendum turpis ullamcorper, varius risus. Curabitur ultricies tincidunt metus, eget aliquet elit tempus ac. Vestibulum eget sodales magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum vehicula mauris, gravida vulputate quam viverra a. Maecenas risus eros, porttitor eu consectetur ac, eleifend et risus. Sed vel posuere risus. Vivamus auctor felis sit amet blandit condimentum. Aliquam pellentesque scelerisque hendrerit.</p>
    </section>
  </div>
  <div class="grid wide">
    <div class="columns">
      <div class="package">
        <figure>
          <img src="https://the-talks.com/wp-content/uploads/2013/01/Christopher-Walken-01-690x360.jpg" loading="lazy">
        </figure>
        <h5>Christopher Walken</h5>
        <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse turpis risus, sagittis at sapien ut, bibendum auctor mi. Nulla tincidunt interdum sapien vitae pretium. Vestibulum sit amet massa congue, bibendum turpis ullamcorper, varius risus. Curabitur ultricies tincidunt metus, eget aliquet elit tempus ac.</p>
      </div>
      <div class="package">
        <figure>
          <img src="https://the-talks.com/wp-content/uploads/2013/01/Christopher-Walken-01-690x360.jpg" loading="lazy">
        </figure>
        <h5>Christopher Walken</h5>
        <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse turpis risus, sagittis at sapien ut, bibendum auctor mi. Nulla tincidunt interdum sapien vitae pretium. Vestibulum sit amet massa congue, bibendum turpis ullamcorper, varius risus. Curabitur ultricies tincidunt metus, eget aliquet elit tempus ac.</p>
      </div>
      <div class="package">
        <figure>
          <img src="https://the-talks.com/wp-content/uploads/2013/01/Christopher-Walken-01-690x360.jpg" loading="lazy">
        </figure>
        <h5>Christopher Walken</h5>
        <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse turpis risus, sagittis at sapien ut, bibendum auctor mi. Nulla tincidunt interdum sapien vitae pretium. Vestibulum sit amet massa congue, bibendum turpis ullamcorper, varius risus. Curabitur ultricies tincidunt metus, eget aliquet elit tempus ac.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed grid cutout">
  <section class="panel">
    <h1>Contact us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse turpis risus, sagittis at sapien ut, bibendum auctor mi. Nulla tincidunt interdum sapien vitae pretium. Vestibulum sit amet massa congue, bibendum turpis ullamcorper, varius risus. Curabitur ultricies tincidunt metus, eget aliquet elit tempus ac. Vestibulum eget sodales magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum vehicula mauris, gravida vulputate quam viverra a. Maecenas risus eros, porttitor eu consectetur ac, eleifend et risus. Sed vel posuere risus. Vivamus auctor felis sit amet blandit condimentum. Aliquam pellentesque scelerisque hendrerit.</p>
    <address>
      1234 Main Street<br>
      Kansas City, MO 12345
    </address>
    <p><a href="#">email@youraddress.com</a></p>
  </section>
</div>

<!-- <parallax-panel> -->
<!--   <img slot="background" src="/images/nelson.jpg" style="object-position: 100% 10%"> -->
<!--   <div class="package pad accent screen"> -->
<!--     <h1>This is a media panel</h1> -->
<!--     <p>Donec quis venenatis libero. Maecenas porttitor sagittis nulla, et hendrerit libero eleifend feugiat. Proin diam arcu, sagittis ac tortor id, pulvinar pretium turpis. Nullam et eros id est ornare elementum ac bibendum enim. Nam lacus arcu, iaculis id lectus et, scelerisque vehicula mauris. Vivamus euismod lorem sagittis, <a href="#">tristique lectus et</a>, ultrices ipsum. Curabitur vestibulum lobortis metus eu sollicitudin.</p> -->
<!--   </div> -->
<!-- </parallax-panel> -->

<!-- <parallax-panel> -->
<!--   <img slot="background" src="/images/memorial-2.jpg" style="object-position: 65% 100%;"> -->
<!--   <div class="package white pad"> -->
<!--     <h1>This is a media panel</h1> -->
<!--     <p>Donec quis venenatis libero. Maecenas porttitor sagittis nulla, et hendrerit libero eleifend feugiat. Proin diam arcu, sagittis ac tortor id, pulvinar pretium turpis. Nullam et eros id est ornare elementum ac bibendum enim. Nam lacus arcu, iaculis id lectus et, scelerisque vehicula mauris. Vivamus euismod lorem sagittis, <a href="#">tristique lectus et</a>, ultrices ipsum. Curabitur vestibulum lobortis metus eu sollicitudin.</p> -->
<!--   </div> -->
<!-- </parallax-panel> -->
{{ end }}
